body
{
    background-color: #121212;
    color: #E0E0E0;
}

input, select {
    background-color: #2b2b2b;
    color: #ffffff;
    border: 1px solid #444;
    padding: 5px;
}

button {
    background-color: #333; 
    color: white;
    border: 1px solid #555;
    cursor: pointer;
    padding: 5px 10px;
}

.search-panel{
    padding: 15px;
    margin-bottom: 20px;

    border: 1px black solid;
    border-radius: 15px;

    background-color: #1E1E1E;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    display: none;
    align-items: center; 
    justify-content: center;

    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    position: relative;

    background-color: #fefefe;
    padding: 20px;
    width: 50%;

    min-width: 500px;
    flex-shrink: 0;
}

#modal-body{
    display: flex;
    gap: 10px;
    padding: 10px;

    border: 1px black solid;

    font-size: large;
}

.close-button{
position: absolute;
    top: 10px;
    right: 10px;
    
    width: 20px;
    height: 20px;
    
    background-color: red;
    color: white;
    

    cursor: pointer; 

    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-card
{
    background-color: rgb(31, 31, 31);
    padding: 20px;
    width: 300px;
}

#movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    overflow-x: inherit;
}

.movie-card{
    margin-bottom: 20px;
}

#pagination-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.page-btn{
    cursor: pointer;
    border: 1px solid black;
    width: 14px;

    display: flex;
    justify-content: center;
}