.search-panel{
    padding: 15px;
    border: 1px black solid;
    border-radius: 15px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    
    width: 50%;
}

#modal-body{
    display: flex;
    gap: 10px;
    padding: 10px;

    border: 1px black solid;

    font-size: large;
}


/* Не работает */
.close-button{
    background-color: red;
    align-items: end;
}